@import 'normalize.scss';
@import 'base.scss';

@function p2r($size){
  @return ($size/32*1rem)
}
html,body{
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
//总体布局部分
.teaber-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  >.teaber-slide{
    flex: 1;
  }
  >.teaber-pagination{
    height: p2r(90);
    position: relative;
    bottom: 0;

    span{
      position: absolute;
      width:20%;
      height: 100%;
      background: greenyellow;
      border-radius: 0;
      margin: 0 !important;
      background: white;
      opacity: 1;
      &::before{
        position:absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        font-size: p2r(12);
      }
      &:nth-child(1){
        left:0;
        background:url('../img/01.app-icons/bb_btn_home_select.png') no-repeat center p2r(10);
        background-size: p2r(40) p2r(37);
        &::before{
          content:'首页';
        }
      }
      &:nth-child(2){
        left:20%;
        background:url('../img/01.app-icons/bb_btn_label_select.png') no-repeat center p2r(10);
        background-size: p2r(50) p2r(40);
        &::before{
          content:'分享';
        }
      }
      &:nth-child(3){
        left:40%;
        background:url('../img/01.app-icons/bb_btn_post_select.png') no-repeat center ;
        background-size: p2r(100) p2r(70);
        border-radius: p2r(30);
      }
      &:nth-child(4){
        left:60%;
        background:url('../img/01.app-icons/bb_btn_message_select.png') no-repeat center p2r(10);
        background-size:p2r(43) p2r(43);
        &::before{
          content:'喜欢';
        }
      }
      &:nth-child(5){
        left:80%;
        background:url('../img/01.app-icons/bb_btn_account_select.png') no-repeat center p2r(10);
        background-size: p2r(40) p2r(36);
        &::before{
          content:'个人中心';
        }
      }
    }
  }
  .teaber-slide:nth-child(1){
    background: red;
  }
  .teaber-slide:nth-child(2){
    background: green;
  }
  .teaber-slide:nth-child(3){
    background: pink;
  }
  .teaber-slide:nth-child(4){
    background: white;
  }
  .teaber-slide:nth-child(5){
    background: skyblue;
  }
}


//消息样式
.message-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  .message-pagination{
    width:100%;
    height: p2r(90);
    background: white;
    position: relative;
    top:0;
    >span{
      width: 33.33333%;
      height: 100%;
      background: white;
      border-radius: 0;
      margin: 0 !important;
      opacity: 1;
     &:nth-child(1)::before{
       content: '动态';
       line-height: p2r(90);
     }
      &:nth-child(2)::before{
        content: '消息';
        line-height: p2r(90);
      }
      &:nth-child(3)::before{
        content: '聊天';
        line-height: p2r(90);
      }
    }
    span.swiper-pagination-bullet-active{
      border-bottom: 4px solid yellowgreen;

    }
  }
  .swiper-wrapper{
  flex: 1;
  }


  //消息里面的分享部分
  .message-message{
    .message-usershare{
      height: 100%;
      li{
        width: 100%;
        height: p2r(245);
        .message-box{
          width: 100%;
          height: p2r(245);
          border: 1px solid #000;
          .message-img{
            width: 20%;
            height: 100%;
            background: red;
            padding: p2r(20) p2r(5);
            img{
              width: 100%;
              height: 50%;
              display: block;
              border-radius: 50%;
            }
          }
          .message-sharecontent{
            border: 1px solid yellow;
            width: 80%;
            display: flex;
            flex-wrap: wrap;
            .message-usemessage{
              height: 30%;
              width: 100%;
              background: skyblue;
              a{
                font-size: p2r(20);
                color: black;
              }
            }
            img{
              width: p2r(122);
              height: p2r(125);
            }
          }
        }

      }
    }
  }
}





